aiohttp
aiomqtt
deepgram-sdk==3.*
fastapi
langchain
langchain_openai
langchain-text-splitters
numpy
paho-mqtt==2.1.0
pgvector
psycopg[binary]
python-dotenv
pyaudio
pydantic
python-multipart
uvicorn
websockets>=11.0.3
zstandard